<div class="privacy">
    <h2>
        {{"privacy.privacy" | translate}}
    </h2>

    <p>
        <b>{{"privacy.privacy1" | translate}}</b>
    </p>

    <p>
        {{"privacy.privacy2" | translate}}
    </p>

    <p>
        {{"privacy.privacy3" | translate}}
    </p>

    <p>
        {{"privacy.privacy4" | translate}}
    </p>
    <span>
        <b>{{"privacy.privacy5" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy6" | translate}}
    </p>
    <span>
        <b>{{"privacy.privacy7" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy8" | translate}}
    </p>

    <span>
        {{"privacy.privacy9" | translate}}
    </span>
    <p>
        /
    </p>
    <br>
    <span>
        <b>{{"privacy.privacy10" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy11" | translate}}
    </p>

    <span>
        <b>{{"privacy.privacy12" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy13" | translate}}
    </p>

    <span>
        <b>{{"privacy.privacy14" | translate}}</b>
    </span>

    <p>
        {{"privacy.privacy15" | translate}}
        <br>
        {{"privacy.privacy16" | translate}}
    </p>

    <span>
        <b> {{"privacy.privacy17" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy18" | translate}}
        <br>
        {{"privacy.privacy19" | translate}}
    </p>
    <br>

    <span>
        <b>{{"privacy.privacy20" | translate}}</b>
        <br>
        <br>
        <b>{{"privacy.privacy21" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy22" | translate}}

    </p>

    <p>
        {{"privacy.privacy23" | translate}}
    </p>
    <br>
    <span>
        <b>{{"privacy.privacy24" | translate}}</b>
    </span>

    <p>
        {{"privacy.privacy25" | translate}}
    </p>
    <br>
    <span>
        <b>{{"privacy.privacy26" | translate}}</b>
    </span>
    <br>
    <span>
        <b>{{"privacy.privacy27" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy28" | translate}}
        <br>
        {{"privacy.privacy30" | translate}}
    </p>
    <span>
        <b>{{"privacy.privacy33" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy34" | translate}}
        <br>
        {{"privacy.privacy35" | translate}}
        <br>
        {{"privacy.privacy36" | translate}}
        <br>
        <br>
        {{"privacy.privacy37" | translate}}
    </p>
    <br>
    <span>
        <b>{{"privacy.privacy38" | translate}}</b>
    </span>
    <span>
        <b>{{"privacy.privacy39" | translate}}</b>
    </span>
    <p>
        {{"privacy.privacy40" | translate}}
        <br>
        {{"privacy.privacy41" | translate}}
        <br>
        <br>
        {{"privacy.privacy42" | translate}}
        <br>
        <br>
        {{"privacy.privacy43" | translate}}
        <br>
        <br>
        {{"privacy.privacy44" | translate}}
        <br>
        <br>
        {{"privacy.privacy45" | translate}}
    </p>
</div>