<section>
    <div class="footer-contain">
        <div>
            <a href="#header" class="frame150">
                <img src="./../../../../../assets/img/logoSVG.svg" alt="">
            </a>
            <a href="" class="impressum">Impressum</a>
        </div>
        <div class="copyright-contain">
            <span>&copy;Juri Sajzew 2024</span>
        </div>

        <div class="icon-contain">
            <img src="./../../../../../assets/shadow/Github button.svg" alt="gitHub Button">
            <img src="./../../../../../assets/shadow/Email button.svg" alt="Email Button">
            <img src="./../../../../../assets/shadow/Linkedin button.svg" alt="Linkedin Button">
        </div>
    </div>
</section>