<section>
    <div class="footer-contain">
        <div>
            <a href="#header" class="frame150">
                <img src="./../../../../../assets/img/logoSVG.svg" alt="">
            </a>
            <a href="imprint" class="impressum">{{'footer.imprint' | translate}}</a>
            <a href="privacy_policy" class="impressum">{{'footer.privacy' | translate}}</a>
        </div>
        <div class="copyright-contain">
            <span>&copy; Juri Sajzew 2024</span>
        </div>

        <div class="icon-contain">
            <img src="./../../../../../assets/shadow/Github button.svg" (click)="openGithub()" alt="gitHub Button">
            <a href="mailto:j.sajzew@outlook.de"><img src="./../../../../../assets/shadow/Email button.svg"
                    alt="Email Button"></a>
            <img src="./../../../../../assets/shadow/Linkedin button.svg" (click)="openLinkedIn()"
                alt="Linkedin Button">
        </div>

        <div class="impressum-mobile">
            <a href="imprint">{{'footer.imprint' | translate}}</a>
            <a href="privacy_policy">{{'footer.privacy' | translate}}</a>

        </div>
    </div>
</section>