@import "./../../../../../font.style.scss";
@import "./../../../../../mixin.style.scss";
@import "./../../../../../styles.scss";

section {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.heading-contain {
    width: 100vw;
    max-width: 100%;
    height: 248px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.hc1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    width: 100%;

    @media (max-width: $breakpointTablet) {
        width: 340px;
        gap: 20px;
    }
}

.vector1 {
    display: flex;
    align-items: center;
    width: 10%;

    @media (max-width: $breakpointTablet) {
        width: 100px;
    }

    img {
        width: 100%;
    }
}

.heading-text {
    display: flex;
    align-items: center;
    width: 389px;

    @media (max-width: $breakpointTablet) {
        width: 60%;
    }

    h2 {
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin: 0;

        @media (max-width: $breakpointTablet) {
            font-size: 45px;
            line-height: 54px;
        }
    }
}

.vector2 {
    display: flex;
    align-items: center;
    width: 35%;

    @media (max-width: $breakpointTablet) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.heading-subtitle {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    column-gap: 20px;

    span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        width: 733px;
        color: #ffffff;
    }
}

.portfolio-contain {
    width: 100vw;
    max-width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    @media (max-width: $breakpointTablet) {
        height: auto;
    }
}

.project-contain {
    width: 1168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    @media (max-width: $breakpointTablet) {
        flex-direction: column;
        width: 100%;
    }
}

.project-img {
    width: 512px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpointTablet) {
        width: 100%;
    }

    img {
        width: 400px;
        object-fit: contain;
        object-position: center;

        @media (max-width: $breakpointTablet) {
            width: 100%;
        }
    }
}

.project-text-contain {
    width: 513px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpointTablet) {
        width: 100%;
        display: flex;
    }
}

.project-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media (max-width: $breakpointTablet) {
        align-items: center;
        justify-content: center;
    }

    h3 {
        width: 100%;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: #4b47ff;
        margin-bottom: 0;

        @media (max-width: $breakpointTablet) {
            text-align: center;

        }
    }

    .span1 {
        width: 100%;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #00bee8;

        @media (max-width: $breakpointTablet) {
            text-align: center;
            width: 80%;
        }
    }

    .span2 {
        width: 100%;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 30px;

        @media (max-width: $breakpointTablet) {
            text-align: center;
            width: 90%;
            margin-bottom: 30px;
           // height: 76px;
        }
    }
}

.button-contain {
    width: 100%;
    //height: 66px;
    display: flex;
    gap: 86px;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: $breakpointTablet) {
        justify-content: center;
        gap: 46px;
    }
}

.button1 {
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 15px 30px 15px 30px;
    background-color: #4b47ff;
    border: unset;

    span {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }

    &:hover {
        cursor: pointer;
        background-color: #00bee8;
    }

    @media (min-width: 290px) and (max-width: 400px) {
        width: 124px;

        span {
            font-size: 16px;
        }
    }
}

.button2 {
    width: 137px;
    border-radius: 10px;
    border: 1px solid #00bee8;
    background-color: #141d2f;
    padding: 15px 30px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
        width: 80px;
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }

    &:hover {
        cursor: pointer;
        background-color: #00bee8;
    }

    @media (min-width: 290px) and (max-width: 400px) {
        width: 112px;
        span {
            font-size: 16px;
        }
    }
}
