.impressum {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    padding: 100px;
    flex-direction: column;
    color: #ffffff;
    row-gap: 25px;
}

.headline,
.nameContain,
.representedContain,
.contactData {
    width: min(100% - 80px, 1240px);
}

.contactData {
    flex-direction: column;
    display: flex;
}

.headline h2 {
    font-size: clamp(32px, 4vw, 64px);
}

.nameContain h4,
.representedContain h4,
.contactData h4 {
    font-size: clamp(16px, 1.5vw, 32px);
}

.nameContain span,
.representedContain span {
    font-size: clamp(16px, 1vw, 32px);
}

.contactData a {
    color: #ffffff;

    &:hover {
        color: #00bee8;
    }
}
