<div class='impressum'>
    <div class="headline">
        <h2>
            Impressum
        </h2>
    </div>
    <div class="nameContain">
        <h4>Angaben gemäß § 5 TMG</h4>
        <span> Juri Sajzew <br>
            Schönblickstraße 48a<br>
            75323 Bad Wildbad <br>
        </span>
    </div>
    <div class="representedContain">
        <h4>Vertreten durch:</h4>
        <span>Juri Sajzew</span>
    </div>
    <div class="contactData">
        <h4>Kontakt:</h4>
        <span>
            Telefon: (+49) 015141661740
        </span>
        <span>
            E-Mail: <a href='mailto:j.sajzew@outlook.de'>j.sajzew&#64;outlook.de</a>
        </span>
    </div>
</div>