<div class='impressum'>
    <div class="headline">
        <h2> {{'imprint.title' | translate}} </h2>
    </div>
    <div class="nameContain">
        <span>
            <h4>{{'imprint.information' | translate}}</h4>
        </span>
        <span>
            <p>Juri Sajzew</p>
            <br>
            <p>Schönblickstraße 48a</p>
            <br>
            <p>75323 Bad Wildbad</p>
            <br>
        </span>
    </div>
    <div class="representedContain">
        <h4>{{'imprint.represented' | translate}}</h4>
        <span>Juri Sajzew</span>
    </div>
    <div class="contactData">
        <h4>{{'imprint.contact' | translate}}</h4>
        <span>
            <p>Telefon: (+49) 015141661740</p>

        </span>
        <span>
            <p>E-Mail: <a href='mailto:j.sajzew@outlook.de'>j.sajzew&#64;outlook.de</a></p>
        </span>
    </div>
</div>