<section>
    <nav class="navbar">
        <div class="logo-contain">
            <img src="./../../../../../assets/img/logoSVG.svg" alt="">
        </div>
        <li class="burger" (click)="toggleMenu()">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
        </li>
        <ul class="nav-menu" [class.is-open]="isMenuOpen" (click)="toggleMenu()">
            <a href="#aboutMe">{{'navbar.menu1' | translate}}</a>
            <a href="#mySkills">{{'navbar.menu2' | translate}}</a>
            <a href="#porfolio">{{'navbar.menu3' | translate}}</a>

            <div class="language-contain">
                <ng-container *ngFor="let language of languages">
                    <button (click)="changeLanguage(language)" class="buttonLanguage">{{ language | translate}}</button>
                </ng-container>
            </div>
        </ul>

    </nav>
</section>