@import "./../../../../../font.style.scss";
@import "./../../../../../mixin.style.scss";

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    background-color: #141d2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 100px 37px 100px;

    @media (max-width: $breakpointMobile) {
        padding: 37px 25px 37px 25px;
        height: 43px;
    }
}

.logo-contain {
    width: 150px;
    height: 35.03px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 150px;
        height: 57px;
    }
}

/* <reset-style> ============================ */
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}
/* ============================ */
/* <style for bg> ======== */
.background {
    display: none;
    @media (max-width: $breakpointMobile) {
        //border-radius: 16px;
        //border: 1px solid #1a1a1a;
        //background: rgba(74, 74, 74, 0.39);
        mix-blend-mode: luminosity;
        //box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(15px);
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    /* <style for menu__icon> ======== */
    .menu__icon {
        width: 32px;
        height: 32px;
        padding: 4px;
    }

    .menu__icon span {
        display: block;
        width: 100%;
        height: 0.125rem;
        border-radius: 2px;
        background-color: rgb(0, 122, 255);
        box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
        transition: background-color 0.4s;
        position: relative;
    }

    .menu__icon span + span {
        margin-top: 0.375rem;
    }

    .menu__icon span:nth-child(1) {
        animation: ease 0.8s menu-icon-top-2 forwards;
    }

    .menu__icon span:nth-child(2) {
        animation: ease 0.8s menu-icon-scaled-2 forwards;
    }

    .menu__icon span:nth-child(3) {
        animation: ease 0.8s menu-icon-bottom-2 forwards;
    }

    .menu__icon:hover span:nth-child(1) {
        animation: ease 0.8s menu-icon-top forwards;
    }

    .menu__icon:hover span:nth-child(2) {
        animation: ease 0.8s menu-icon-scaled forwards;
    }

    .menu__icon:hover span:nth-child(3) {
        animation: ease 0.8s menu-icon-bottom forwards;
        background-color: rgb(255, 59, 48);
    }

    @keyframes menu-icon-top {
        0% {
            top: 0;
            transform: rotate(0);
        }

        50% {
            top: 0.5rem;
            transform: rotate(0);
        }

        100% {
            top: 0.5rem;
            transform: rotate(45deg);
        }
    }

    @keyframes menu-icon-top-2 {
        0% {
            top: 0.5rem;
            transform: rotate(45deg);
        }

        50% {
            top: 0.5rem;
            transform: rotate(0);
        }

        100% {
            top: 0;
            transform: rotate(0);
        }
    }

    @keyframes menu-icon-bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }

        50% {
            bottom: 0.5rem;
            transform: rotate(0);
        }

        100% {
            bottom: 0.5rem;
            transform: rotate(135deg);
        }
    }

    @keyframes menu-icon-bottom-2 {
        0% {
            bottom: 0.5rem;
            transform: rotate(135deg);
        }

        50% {
            bottom: 0.5rem;
            transform: rotate(0);
        }

        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }

    @keyframes menu-icon-scaled {
        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes menu-icon-scaled-2 {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}

.burger {
    display: none;

    @media (max-width: $breakpointMobile) {
        display: flex;
        align-items: center;
        width: 70px;
        height: 70px;
        gap: 14px;
        justify-content: center;
        cursor: pointer;

        .material-icons {
            color: #ffffff;
            font-size: 70px !important;
        }
    }
}

.nav-menu {
    width: 491px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    a {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 4px solid #141d2f;

        &:hover {
            cursor: pointer;
            animation-timing-function: linear;
            animation-duration: 200ms;
            color: #00bee8;
            border-bottom: 4px solid #4b47ff;
        }
    }

    @media (max-width: $breakpointMobile) {
        display: none;

        &.is-open {
            display: flex;
            position: absolute;
            top: 64px;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: transparent;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(65, 72, 86);
            z-index: 22;
        }

        &:hover {
            animation-timing-function: linear;
            animation-duration: 200ms;
            color: #00bee8;
            border-bottom: 4px solid #4b47ff;
        }
    }

    .language-contain {
        border-bottom: 4px solid #141d2f;
        display: flex;
        column-gap: 10px;
        :hover {
            cursor: pointer;
            animation-timing-function: linear;
            animation-duration: 200ms;
            color: #00bee8;
            border-bottom: 4px solid #4b47ff;
        }
    }

    .buttonLanguage {
        border: none;
        background-color: #141d2f;
        color: #ffffff;
    }
}
