<section>
    <nav class="navbar">
        <div class="logo-contain">
            <img src="./../../../../../assets/img/logoSVG.svg" alt="">
        </div>
        <li class="burger" (click)="toggleMenu()">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
        </li>

        <ul class="nav-menu" [class.is-open]="isMenuOpen" (click)="toggleMenu()">
            <a href="#aboutMe" >About Me</a>
            <a href="#mySkills">Skills</a>
            <a href="#porfolio">Portfolio</a>
        </ul>
    </nav>
</section>