@import './../../../../../font.style.scss';

/*For Desktop*/
@media (min-width:992px) {
    section {
        width: 100vw;
        max-width: 100%;
        height: 103vh;
        padding-top: 184px;
    }

    .header-contain {
        background-color: #141d2f;
        width: 100vw;
        max-width: 100%;
        height: 72vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-contain {
        width: 40vw;
        max-width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .profileImg-contain {
        width: 33vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        img {
            width: 44vw;
            height: 72vh;
        }
    }

    .photo-shadow {
        width: 100vw;
        overflow: hidden;
    }

    .text-contain {
        width: 60vw;
        max-width: 100%;
        height: 600px;
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        flex-direction: column;
        z-index: 1;
        position: relative;
    }

    .frame3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }

    .iAm-text {
        width: 152px;
        height: 63px;
        transform: rotate(-90deg);

        span {
            font-size: 64px;
            font-weight: 400;
            line-height: 191px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }
    }

    .frame2 {
        width: 620px;
        height: 172px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name-contain {
        width: 620px;
        height: 108px;
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

   
}

/*For Tablet*/
@media (min-width:768px) and (max-width:991px) {}

/*For Mobile*/
@media (max-width:767px) {
    .header-contain {
        flex-direction: column;
    }

    .profile-contain,
    .frame3,
    .text-contain {
        width: 100vw;
        max-width: 100%;
    }
}