@import "./../../../../../font.style.scss";
@import "./../../../../../mixin.style.scss";

section {
    overflow: hidden;
    height: 106vh;

    @media (min-width: 290px) and (max-width: 1920px) {
        height: auto;
    }
}

.header-contain {
    display: flex;

    @media (max-width: 930px) {
        flex-direction: column;
    }

    .profile-contain {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;

        @media (max-width: 930px) {
            width: 100%;
            justify-content: center;
        }

        .profile-shadow {
            width: 70%;
            overflow: hidden;

            @media (min-width: 200px) and (max-width: 930px) {
                width: 100%;
                object-fit: cover;
            }
        }

        .profile-img {
            position: absolute;
            width: 70%;
            z-index: 1;

            @media (min-width: 401px) and (max-width: 900px) {
                width: 70%;
            }

            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }

    .text-contain {
        height: auto;

        @media (max-width: 930px) {
            justify-content: center;
        }
    }
}

.text-contain {
    display: grid;
    row-gap: 20px;
    z-index: 1;

    .frame3 {
        display: flex;
        align-items: center;

        div {
            display: flex;
        }

        .iAm-text {
            transform: rotate(-90deg);

            span {
                font-size: 46px;
                font-weight: 400;
                line-height: 0.938em;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;

                @media (min-width: 1480px) and (max-width: 1520px) {
                    font-size: 52px;
                }

                @media (min-width: 601px) and (max-width: 1479px) {
                    font-size: 34px;
                }

                @media (min-width: 220px) and (max-width: 600px) {
                    font-size: 25px;
                }
            }
        }
    }

    .frame2 {
        display: flex;
        flex-direction: column;

        .name-contain {
            font-size: 90px;
            font-weight: 700;
            line-height: 1.4em;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;

            @media (max-width: 1480px) {
                font-size: 70px;
            }

            @media (min-width: 601px) and (max-width: 1479px) {
                font-size: 50px;
            }

            @media (min-width: 220px) and (max-width: 600px) {
                font-size: 34px;
            }
        }

        .frontend-contain {
            font-size: 57px;
            font-weight: 400;
            line-height: 1.3em;
            letter-spacing: 0em;
            text-align: left;
            color: #4b47ff;

            @media (max-width: 1480px) {
                font-size: 45px;
            }

            @media (min-width: 601px) and (max-width: 1479px) {
                font-size: 35px;
            }

            @media (min-width: 220px) and (max-width: 600px) {
                font-size: 23px;
            }
        }
    }

    .button-contain {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        .button-header {
            height: 58px;
            border-radius: 10px;
            padding: 15px 30px 15px 30px;
            background-color: #00bee8 !important;

            span {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.75em;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
            }

            &:hover {
                cursor: pointer;
                background-color: #4b47ff !important;

                @media (max-width: $breakpointTablet) {
                    height: 60px;
                }
            }
        }
    }
}

.referenz-contain {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .vector-header {
        position: absolute;
        width: 100%;
        margin-top: -33%;

        @media (min-width: 660px) and (max-width: 930px) {
            margin-top: -80%;
        }

        @media (min-width: 220px) and (max-width: 660px) {
            margin-top: -93%;
        }
    }

    .referenz {
        z-index: 1;
        display: flex;
        align-items: center;
        column-gap: 50px;

        .icon-referenz {
            display: flex;
            column-gap: 30px;
            align-items: center;

            a {
                display: flex;
                align-items: center;
            }

            :hover {
                cursor: pointer;
                transform: scale(1);
            }
        }

        .vector-referenz {
            @media (max-width: 400px) {
                width: 30px;
            }
            img {
                @media (max-width: 400px) {
                    width: 55px;
                }
            }
        }

        .email-referenz {
            font-size: 23px;
            font-weight: 400;
            line-height: 1.75em;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;

            @media (max-width: 615px) {
                display: none;
            }
        }
    }

    .scroll-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 60px;
        z-index: 2;

        span {
            transform: rotate(90deg);
            font-size: 23px;
            font-weight: 400;
            line-height: 1.75em;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }

        img {
            width: 24px;
            height: 24px;
        }

        @media (min-width: 220px) and (max-width: 800px) {
            display: none;
        }
    }
}
