<section>
    <div class="header-contain">
        <div class="profile-contain">
            <div class="profileImg-contain">
                <img src="./../../../../../assets/img/profileImage.png" alt="Profile Image">
            </div>
            <div class="photo-shadow">
                <img src="./../../../../../assets/shadow/Photo_shadows.png" alt="">
            </div>
        </div>
        <div class="text-contain">
            <div class="frame3">
                <div class="iAm-text">
                    <span>I am</span>
                </div>
                <div class="frame2">
                    <span class="name-contain">Juri Sajzew</span>
                    <span class="frontend-contain">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="button-contain">
                <button mat-raised-button [ngClass]="colorClass" class="button-header"
                    (mouseenter)="changeStyle($event)" (mouseleave)="changeStyle($event)">
                    <span>Lets`s talk!</span>
                </button>
            </div>
        </div>
    </div>
    <div class="vector-contain">
        <img src="./../../../../../assets/shadow/vector-header.svg" alt="">
    </div>
    <div class="referenz-contain">
        <div class="referenz">
            <div class="vector-referenz">
                <img src="./../../../../../assets/shadow/referenz-vector.svg" alt="">
            </div>
            <div class="icon-referenz">
                <img src="./../../../../../assets/shadow/Github button.svg" alt="">
                <img src="./../../../../../assets/shadow/Email button.svg" alt="">
                <img src="./../../../../../assets/shadow/Linkedin button.svg" alt="">
            </div>
            <div class="email-referenz">
                j.sajzew&#64;outlook.de
            </div>
        </div>
        <div class="scroll-text">
            <span>Scroll down</span>
            <img src="./../../../../../assets/shadow/down_vector.svg" alt="">
        </div>
    </div>
</section>