@media (min-width:992px) {
    section {
        width: 100vw;
        max-width: 100%;
        height: 126vh;
        background-color: #141d2f;
    }

    .heading-contain {
        width: 100%;
        gap: 108px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    .vector-contain {
        width: 5%;

        img {
            width: 100%;
        }
    }

    .heading-text {
        width: 376px;
        height: 108px;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2 {
            font-family: Poppins;
            font-size: 90px;
            font-weight: 700;
            line-height: 108px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
        }
    }

    .contact-header {
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 100px;
    }

    .heading {
        width: 50vw;
        height: 33vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        padding-left: 200px;
        padding-right: 100px;
    }

    .frame1 {
        width: 100%;
        height: 38px;

        span {
            font-family: Poppins;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }
    }

    .frame2 {
        width: 100%;
        height: 57px;

        span {
            //styleName: Style 1/body;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }
    }

    .frame3 {
        width: 100%;
        height: 19px;

        span {
            //styleName: Style 1/body;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;

        }

        a {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }
    }


    .input-contain {
        width: 50vw;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .example-container mat-form-field+mat-form-field {
        margin-left: 8px;
    }

    .form-contain {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
    }

    .frame50 {
        width: 93%;
        height: calc(50px - 25px);
        border-radius: 10px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        display: grid;
        gap: 10px;
        padding: 15px 25px 15px 25px;
        color: #ffffff;

        &:hover {
            border: 1px solid #00BEE8;
        }


        &::placeholder {
            width: 88px;
            height: 19px;
            color: #ffffff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;

        }

        &:focus {
            color: #ffffff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    input:focus {
        outline: none;

    }



    .frame51 {
        width: 93%;
        height: 202px;
        display: grid;
        gap: 10px;
        border-radius: 10px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        padding: 15px 25px 15px 25px;

        &:hover {
            border: 1px solid #00BEE8;
        }

        &::placeholder {
            width: 200px;
            height: 19px;
            color: #ffffff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;

        }

        &:focus {
            color: #ffffff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .textarea-contain {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
    }

    .example-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: -20px;
        gap: 10px;

        span {
            //styleName: Style 1/label;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;

            a {
                //styleName: Style 1/label;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #4B47FF;
                text-decoration: none;

            }
        }
    }

    .checkbox-contain {
        width: 24px;
        height: 27px;
        color: #797EF3;
    }

    [type="checkbox"] {
        width: 18px;
        height: 18px;
        border-color: #00BEE8;
    }

    .button-contain {
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sendMail-button-1 {
        width: 253px;
        height: 58px;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        color: #B6B6B6;
        gap: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        border: none;

        span {
            font-family: Poppins;
            font-size: 23px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }
    }

    .sendMail-button {
        width: 253px;
        height: 58px;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        background-color: #00bee8;
        gap: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        border: none;

        span {
            font-family: Poppins;
            font-size: 23px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }

        &:hover {
            cursor: pointer;
            width: 260px;
            height: 60px;
        }

    }

    .warnText {
        margin-left: 10px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0em;
        text-align: left;
        color: red;
    }
}

@media (min-width:768px) and (max-width:991px) {}

@media (max-width:767px) {}