<section>
    <div class="heading-contain">
        <div class="vector-contain">
            <img src="./../../../../../assets/shadow/contact_vector.svg" alt="">
        </div>
        <div class="heading-text">
            <h2>{{'contact.contact' |translate}}</h2>
        </div>
    </div>
    <div class="contact-header">
        <div class="heading">
            <div class="frame1">
                <span>{{'contact.contact1' |translate}}</span>
            </div>
            <div class="frame2">
                <span> {{'contact.contact2' |translate}} </span>
            </div>
            <div class="frame3">
                <span>{{'contact.contact3' |translate}}
                    <a href="">{{'contact.contact4' |translate}}</a>
                </span>
            </div>
        </div>
        <div class="input-contain">
            <form class="form-contain" #form="ngForm" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="textarea-contain">
                    <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" id="contactName" class="frame50"
                        name="name" placeholder="Your name" type="text" required>
                    <div style="width: 100%;height: 20px;">
                        <span *ngIf="!name.valid && name.touched" ngClass="warnText">{{'contact.warnText'
                            |translate}}</span>
                    </div>
                </div>
                <div class="textarea-contain">
                    <input #email="ngModel" [(ngModel)]="contactData.email" id="contactEmail" class="frame50"
                        name="email" placeholder="Your email" type="email" required
                        pattern="^(http(s){0,1}:\/\/.){0,1}[\-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([\-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$">
                    <div style="width: 100%;height: 20px;">
                        <span *ngIf="!email.valid && email.touched" ngClass="warnText">{{'contact.warnText2'
                            |translate}}</span>
                    </div>
                </div>
                <div class="textarea-contain">
                    <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" class="frame51"
                        name="message" placeholder="Your message" type="message" required></textarea>
                    <div style=" width: 100%; height: 20px;">
                        <span *ngIf="!message.valid && message.touched" ngClass="warnText">{{'contact.warnText3'
                            |translate}}</span>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div class="example-section">
                        <div class="checkbox-contain">
                            <input #setCheckbox="ngModel" [(ngModel)]="contactData.setCheckbox" type="checkbox"
                                class="checkbox" name="checkbox" required>
                        </div>
                        <span>{{'contact.privacyText1' | translate}}
                            <a href="">{{'contact.privacyPolice' | translate}}</a>
                            {{'contact.privacyText2' | translate}}
                        </span>
                    </div>
                    <div style="width: 100%;height: 20px;">
                        <span *ngIf="!setCheckbox.valid && setCheckbox.touched && !setCheckbox.untouched"
                            ngClass="warnText">{{'contact.warnText4' |translate}}</span>
                    </div>
                </div>
                <div class="button-contain">
                    <button [disabled]="form.invalid"
                        [ngClass]="{'sendMail-button-1': form.invalid, 'sendMail-button': !form.invalid}" type="submit">
                        <span>{{'contact.button' |translate}} :)</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrow-header">
        <a href="#header">
            <img src="assets/img/go_up_button.png" alt="">
        </a>
    </div>

    <!--<div class="vector-contain-footer">
        <img src="./../../../../../assets/shadow/contact_footer_vector.svg" alt="">
    </div>-->
</section>