@import "./../../../../../font.style.scss";
@import "./../../../../../mixin.style.scss";
@import "./../../../../../styles.scss";

section {
    width: 100vw;
    max-width: 100%;
    padding-top: 120px;
    padding-bottom: 50px;
}

.mySkills-header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: auto;

    @media (max-width: $breakpointTablet) {
        flex-direction: column-reverse;
        z-index: 1;
        position: relative;
    }
}

.skills-img-contain {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    z-index: 1;
    row-gap: 5vh;
    column-gap: 9vw;
    padding: 50px 100px;

    @media (min-width: 1920px) {
        width: auto;
    }

    @media (max-width: $breakpointTablet) {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
        column-gap: 60px;
        justify-content: center;
    }
}

.skillsImg-contain {
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $breakpointTablet) {
        width: 59px;
    }
}

.skills-image {
    width: 56px;
    display: grid;

    @media (max-width: $breakpointTablet) {
        width: 41px;
    }

    img {
        width: 56px;
        gap: 10px;
        display: grid;

        .invert {
            filter: invert(1);
        }

        @media (max-width: $breakpointTablet) {
            width: 41px;
        }

        &:hover {
            transform: translateY(-10px) skewY(10deg) scale(1.1);
        }
    }
}

.skills-text {
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: $breakpointTablet) {
        width: 62px;
    }

    span {
        width: 88px;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        color: #ffffff;

        @media (max-width: $breakpointTablet) {
            width: 62px;
            font-size: 12px;
        }
    }
}

.skills-heading-contain {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    @media (max-width: $breakpointTablet) {
        width: 100%;
    }
}

.header-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-gap: 65px;
    flex-direction: column;
}

.heading-contain {
    width: 100%;
    display: flex;
    column-gap: 20px;

    @media (max-width: $breakpointTablet) {
        gap: 15px;
    }
}

.heading {
    display: grid;
    align-items: start;
    justify-content: end;
    gap: 34px;

    @media (max-width: $breakpointTablet) {
        width: 100%;
        gap: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    h2 {
        font-family: Poppins;
        font-size: 70px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: right;
        color: #ffffff;
        margin: 0;

        @media (max-width: $breakpointTablet) {
            font-size: 45px;
            line-height: 54px;
        }
    }

    span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
        color: #ffffff;

        @media (max-width: $breakpointTablet) {
            width: 90%;
            line-height: 16px;
        }
    }
}

.vector-mySkills {
    width: 112px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;

    @media (max-width: $breakpointTablet) {
        width: 20px;
    }
}

.button-mySkills-mobile {
    display: none;
}

.button-mySkills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpointTablet) {
        display: none;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}

.getInTouch {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bee8;
    border: unset;

    span {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }

    &:hover {
        cursor: pointer;
        background-color: #4b47ff !important;
    }
}

.vector-left {
    position: absolute;
    left: 0;

    @media (min-width: 1920px) {
        display: none;
    }

    @media (min-width: 1000px) and (max-width: 2000px) {
        top: 217vh;
        width: 265px;
        left: -57px;
    }

    @media (min-width: 701px) and (max-width: 999px) {
        top: 214vh;
    }

    @media (min-width: 401px) and (max-width: 700px) {
        top: 200vh;
    }

    @media (min-width: 290px) and (max-width: 400px) {
        top: 236vh;
    }
}

.button-mySkills-mobile {
    @media (max-width: $breakpointTablet) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 40px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    }
}

.getInTouch-mobile {
    @media (max-width: $breakpointTablet) {
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00bee8;
        border: none;
    }

    span {
        @media (max-width: $breakpointTablet) {
            font-size: 15px;
            line-height: 19.2px;
            font-family: Poppins;
            font-weight: 400;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }
    }

    &:hover {
        @media (max-width: $breakpointTablet) {
            cursor: pointer;
            background-color: #4b47ff !important;
        }
    }
}

.invert {
    filter: invert(1);
}
