<section>
    <div class="mySkills-header">
        <div class="button-mySkills-mobile">
            <a href="#contact">
                <button class="getInTouch-mobile">
                    <span>{{'skills.button' | translate}}</span>
                </button>
            </a>
        </div>
        <div class="skills-img-contain">
            <div class="skillsImg-contain" *ngFor="let element of mySkillsImg; let i = index">
                <div class="skills-image">
                    <img [src]="element" alt="">
                </div>
                <div class="skills-text">
                    <span>{{skillsText[i]}}</span>
                </div>
            </div>
        </div>
        <div class="skills-heading-contain">
            <div class="header-contain">
                <div class="heading-contain">
                    <div class="heading">
                        <h2>{{'skills.skills' | translate}}</h2>
                        <span> {{'skills.skills1' | translate}} </span>
                    </div>
                    <div class="vector-mySkills">
                        <img src="assets/shadow/my_skills_vector.svg" alt="">
                    </div>
                </div>
                <div class="button-mySkills">
                    <a href="#contact">
                        <button class="getInTouch">
                            <span>{{"skills.button" | translate}}</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img class="vector-left" src="./../../../../../assets/shadow/my-skills-vector.svg" alt="">
</section>