<section>
    <div class="about-me-vector-right">
        <img src="./../../../../../assets/shadow/about_me_vector-right.svg" alt="">
    </div>
    <div class="about-me-header">
        <div class="about-me-contain">
            <div class="about-me-title">
                <h2>About me</h2>
            </div>
            <div class="about-me-text-contain">
                <div class="about-me-text">
                    <span>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora vitae perspiciatis explicabo
                        quasi,
                        facilis sequi ratione nostrum amet dolore eaque voluptatum iste, asperiores sunt culpa
                        exercitationem
                        expedita excepturi ipsa voluptatem!
                    </span>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/bulb_desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum officia quia
                            nesciunt id
                            quas
                            ipsa quasi tenetur labore! Neque officia accusantium nihil voluptate eum iste nesciunt
                            quidem
                            cumque
                            fugiat.
                        </span>
                    </div>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/puzzle desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam odit quia sunt delectus
                            architecto
                            et,
                            numquam officia nihil quasi? Magnam molestias possimus velit sed corporis dolores alias iste
                            officiis
                            libero.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-contain">
            <div class="contain-profile-img">
                <img src="./../../../../../assets/img/profileImage1.png" alt="">
            </div>
            <img src="./../../../../../assets/shadow/LINE_7.svg" alt="">
        </div>
    </div>
</section>