<section>
    <div class="about-me-vector-right">
        <img src="./../../../../../assets/shadow/about_me_vector-right.svg" alt="">
    </div>
    <div class="about-me-header">
        <div class="about-me-contain" data-aos="fade-right" data-aos-duration="1000">
            <div class="about-me-title">
                <h2>About me</h2>
            </div>
            <div class="about-me-text-contain">
                <div class="about-me-text">
                    <span>
                        Hallo, ich bin ein Frontend-Entwickler aus Stuttgart. In meinem früheren Job als Logistikmanager
                        bin ich oft mit der Programmierung in Berührung gekommen. Die Technik und Logik hinter einer
                        Benutzeroberfläche hat mich schon immer fasziniert. Mein Ziel ist es, innovative Lösungen zu
                        entwickeln, die die Erwartungen meiner Kunden übertreffen und gleichzeitig einen positiven
                        Einfluss auf die Nutzer haben.
                    </span>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/bulb_desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>
                            Während meiner Ausbildung an der Delevolper Academy habe ich mehrere Projekte erstellt.
                            Dadurch konnte ich meine Kenntnisse in HTML, CSS, JavaScript, Angular und TypeScript
                            ausbauen. Einige Projekte mussten in einem Team durchgeführt werden, was mir sehr viel Spaß
                            bereitet hat.
                        </span>
                    </div>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/puzzle desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>
                            In meiner Freizeit erforsche ich gerne Designtrends und experimentiere mit neuen Techniken.
                            Ich arbeite auch mit neuen Technologien, um mein Wissen ständig zu erweitern.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-contain">
            <div class="contain-profile-img" data-aos="fade-left" data-aos-duration="1000">
                <img src="./../../../../../assets/img/profileImage1.png" alt="">
            </div>
            <img src="./../../../../../assets/shadow/LINE_7.svg" alt="" data-aos="fade-left">
        </div>
    </div>
</section>