<section>
    <div class="about-me-vector-right">
        <img src="./../../../../../assets/shadow/about_me_vector-right.svg" alt="">
    </div>
    <div class="about-me-header">
        <div class="about-me-contain" data-aos="fade-right" data-aos-duration="1000">
            <div class="about-me-title">
                <h2>{{"aboutMe.aboutMe" | translate}}</h2>
            </div>
            <div class="about-me-text-contain">
                <div class="about-me-text">
                    <span>{{"aboutMe.aboutMe1" | translate}} </span>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/bulb_desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>{{"aboutMe.aboutMe2" | translate}} </span>
                    </div>
                </div>
                <div class="frame6">
                    <div class="frame6-img">
                        <img src="./../../../../../assets/shadow/puzzle desktop.svg" alt="">
                    </div>
                    <div class="frame6-text">
                        <span>{{"aboutMe.aboutMe2" | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-contain">
            <div class="contain-profile-img" data-aos="fade-left" data-aos-duration="1000">
                <img src="./../../../../../assets/img/profileImage1.png" alt="">
            </div>
            <img src="./../../../../../assets/shadow/LINE_7.svg" alt="" data-aos="fade-left">
        </div>
    </div>
</section>