html,
body {
    height: 100%;
    background-color: #141d2f;
    margin: 0;

}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #141d2f;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #141d2f;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #141d2f;
    /* creates padding around scroll thumb */
}